<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Study</title>
  </head>
  <body>
    <div id="app">
      <p>{{{message}}}</p>
      <span v-if="flag">Flag</span>
      <input v-model="message">
      <button v-on:click="sayHello" name="button">Say Hi!</button>
    </div>
    <script src="//cdn.bootcss.com/vue/1.0.16/vue.min.js"></script>
    <script>
    var vm = new Vue({
      el: "#app",
      data: {
        message: "Hello world! &#149; Test",
        flag: true
      },
      methods: {
        sayHello: function (e) {
          this.message = "Say hi!"
        }
      }
    })
    </script>
  </body>
</html>
